<!DOCTYPE html>
<html class="" lang="en">
   
<!-- Mirrored from dostguru.com/HTML/plantly/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Feb 2024 11:28:54 GMT -->
<head>
      <title>Plantly</title>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Favicon -->
      <link rel="shortcut icon" type="image/x-icon" href="assets/img/Favicon.ico">
      <!-- bootstrap min-->
      <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
      <!-- fontawesome -->
      <link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
      <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css">
      <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.min.css">
      <!-- OwlCarousel2 -->         
      <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
      <!-- fancybox -->
      <link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.css">
      <!-- animate -->
      <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css">
      <link rel="stylesheet" type="text/css" href="assets/css/media.css">
      <!-- style -->
      <link rel="stylesheet" type="text/css" href="assets/css/style.css">
      <!-- responsive -->
      <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
      <!-- googleapis -->
      <link rel="preconnect" href="https://fonts.gstatic.com/">
      <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet"> 
   </head>

   <style>
    body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;
    }
    .btn {
      background-color: skyblue;
      color:white;
    }
</style>

   <body>

    <div class="text-center">
      <img src="/assets/img/404-page-not-found.png" alt="page not found">
      <div class="container">
          <a href="/" class="btn"">Go To Plantly</a>
      </div>

   <a href="#" id="scroll"></a>
   <!-- jquery-3.4.1 -->
   <script src="assets/js/jquery-3.4.1.min.js"></script>
   <!-- owl.carousel -->
   <script src="assets/js/owl.carousel.js"></script>
   <!-- bootstrap.min -->
   <script src="assets/js/bootstrap.min.js"></script>
   <!-- popper.min -->
   <script src="assets/js/popper.min.js"></script>
   <!-- wow.js - v1.2.1 -->
   <script src="assets/js/wow.min.js"></script>
   <!-- Font Awesome Free 5.15.1 -->
   <script src="assets/js/all.min.js"></script>
   <!--   fancybox -->
   <script  src="assets/js/jquery.fancybox.min.js"></script>
   <!-- custom js -->
   <script src="assets/js/custom.js"></script>
   <script>
       
 </script>
</body>

<!-- Mirrored from dostguru.com/HTML/plantly/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Feb 2024 11:29:25 GMT -->
</html>